body {
  background-color: #59CD90;
  color: #3FA7D6;
  font-family: "Fjalla One", Arial;
}

form {
  line-height: 25px;
}

h1 {
  font-size: 3em;
  overflow: break;
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;  
}

table {
  margin-left:auto; 
  margin-right:auto;
  width:70%;   
}

.head1{
	text-align: center;
	color: #000000;
	font-size: 4em;
}

.overlay {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: center;
}

.overlay2 {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 510vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: center;
}

